body {
  color: #333;
  font-size: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

figcaption {
  font-style: italic;
}

figure {
  background-color: #F2EDED;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
  margin: 30px;
}

footer {
  background-image: url(../img/fundo-rodape.png);
  clear: both;
  padding: 20px 0;
}

footer .container {
  position: relative;
}

h1 {
  padding: 10px;
  background-image: url(../img/sobre-background.jpg);
}

h1 + p {
  text-indent: 0px;
}

h2 {
  margin-top: 30px;
  border-bottom: 2px solid #333333
}

header {
  position: relative;
}

label[for=verde]::after {
  background-color: #33CC66;
  left: 0;
}

label[for=rosa]::after {
  background-color: #FF6666;
  left: 60px;
}

label[for=azul]::after {
  background-color: #6666FF;
  left: 120px;
}

p {
  text-indent: 15px;
  text-align: justify;
}

p:first-letter {
  font-weight: bold;
}

table {
  border-spacing: 0.2em;
  border-collapse: separate;
}

td {
  padding: 0.3em;
}

td:first-child {
  font-style: italic;
}

thead {
  background-color: #999;
}

thead th {
  font-weight: bold;
  padding: 0.3em 1em;
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #ccc;
}

.busca,
.menu-departamentos {
  float: left;
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2{
  margin: 10px;
}

.busca input {
  vertical-align: middle;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.busca input[type=search] {
  width: 170px;
}

.comprar {
  background: #91bd3c;
  border: none;
  color: #333;
  font-size: 1.4em;
  text-transform: uppercase;
  box-shadow: 0 1px 3px #777;
  display: block;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.container h1 {
  background-image: none;
}

.cores {
  position: relative;
  padding-top: 90px;
}

.cores input[type=radio]{
  display: none;
}

.cores input:checked + label::after{
  border: 6px solid rgba (0,0,0,0.3);
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores label::after{
  content: '';
  display: block;
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 2s;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  position: absolute;
  top: 30px;
}

.cores label:hover::after {
  border: 6px solid rgba(0, 0, 0, 0);
}

.cores label img {
  display: block;
  max-width: 100%;
  border: 2px solid #ccc;
}

.cores legend {
  position: absolute;
  top: 0;
  left: 0;
}

.destaque {
  margin-top: 10px;
}

.detalhes {
  padding: 2em 0;
}

.detalhes h2 {
  /*margin: 1.0em;*/
  line-height: 2;
}

.detalhes p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5;
  max-width: 36em;
}

.form-control:invalid {
  border: 1px solid #cc0000;
}

.mais-vendidos {
  float: right;
  background: linear-gradient(#dcdcf5, #f4bebe);
}

.margin-sobre {
  color: #333333;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

.menu-departamentos {
  clear: left;
  margin-top: 10px;
  padding-top: 10px;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-opcoes a {
  color: #003366;
}

.menu-opcoes li {
  display: inline;
  list-style: none;
}

.menu-opcoes ul {
  font-size: 15px;
  list-style: none;
  margin-left: 20px;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.novidades {
  float: left;
  background: linear-gradient(#f5dcdc, #bebef4);
}

.painel {
  width: 445px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px #999;
  transition:  0.7s ease-in;
}

.painel a {
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.painel h2 {

  text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.painel li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 2px;
  padding-bottom: 10px;
  transition: 0.7s;
}

.painel li:hover{
  box-shadow: 0 0 5px #333;
  transition: box-shadow 0.7s;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.2) rotate(-5deg);
}

.painel li:nth-child(2n) :hover {
  transform: scale (1.2) rotate(5deg);
}

.produto {
  color: #333;
  line-height: 1.3;
  margin-top: 2em;
}

.produto h1 {
  font-size: 1.8em;
  font-weight: bold;
}

.produto legend {
  display: block;
  font: bold 0.9em/2.5 Arial;
  text-transform: uppercase;
}

.produto span {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 1em;
}

.produto-back {
  background-color: #F2F2F2;
  margin-top: 1em;
  border-top: 2px solid #ccc;
}

.sacola {
  background: url(../img/sacola.png) no-repeat top right;
  font-size: 14px;
  padding: 8px 35px 0 0;
  text-align: right;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
}

.social {
  position: absolute;
  top: 12px;
  right: 0;
}

.social a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;

  /* image replacement */
  display:block;
  text-indent: -9999px;
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

.social li {
  float: left;
  margin-left: 25px;
}

#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

#familia-pelho {
  float: right;
  margin: 0 0 30px 30px;
}

/* Aplicação do conceito mobile first e progressive enhancement da página de
produtos, onde o layout da página PRODUTOS foi criado para satisfazer primeiramente
o mobile e, após, leva alteração de tamanho para maior através medias queries
com breakpoints de conteúdo, a fim de satisfazer as necessidades de tamanho em desktop */

@media (min-width:500px) {
  .detalhes {
    font-size: 1.2em;
  }
}

@media (min-width:630px) {
  .produto {
    position: relative;
    padding-left: 40%;
    font-size: 1.2em;
  }

  .cores {
    position: static;
    padding: 0;
  }

  .cores legend {
    position: static;
  }

  .cores label img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 35%;
    max-height: 100%;
  }

  .cores label::after {
    position: static;
    float: left;
    margin-right: 10px;
  }

  fieldset {
    display: inline-block;
    vertical-align: top;
    margin:  1em 0;
    min-width: 200px;
    width: 45%
  }
}
